body {
  background-color: #121212;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family:'Segoe UI';
  color: #cccccc;
  font-size: 12px;
  line-height: 1.5;
}

.container {
  max-width: 800px;
  padding: 30px;
  margin: auto;
  background-color: #1e1e1e;
  border-radius: 12px;
  border: 1px solid #333;
}

.title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #ffffff;
}

.subtitle {
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 10px;
  color: #cccccc;
}

.input-group {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.input-group input {
  padding: 10px;
  font-size: 16px;
  background-color: #2b2b2b;
  border: 1px solid #444;
  color: #ffffff;
  border-radius: 6px;
  outline: none;
}

.input-group input[type="number"] {
  width: 100px;
}

.input-group button {
  padding: 10px 15px;
  font-size: 16px;
  background-color: #0ef;
  color: #000;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  flex: 0 0 auto;
}

.input-group button:hover {
  background-color: #00c9c9;
}

.stock-list {
  list-style-type: none;
  padding-left: 0;
}

.stock-list li {
  background-color: #2a2a2a;
  padding: 12px;
  border-radius: 6px;
  margin-bottom: 10px;
  box-shadow: 0 0 5px rgba(0, 255, 255, 0.1);
  color: #e0e0e0;
}
